# Example .env file

# MongoDB connection string
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/mydatabase

# JWT secret key
JWT_SECRET=<your_jwt_secret>

# Server configuration
PORT=3000
NODE_ENV=development